.home img{
    width: 430px;
    height: 480px;
    margin-top: 50px;
    margin-right: 80px;
}
.home{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 80px;
}
.home h1{
    margin-left: 80px;
}
.review-container{
    margin: 30px;
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;

}
.review-container div{
    border: 2px solid sandybrown;
    border-radius: 5px;
}
.review-btn{
  
margin-bottom: 50px;

}
